{% extends "base.html" %}
{% block div %}

<!--This is the start of top navigation bar-->
<div class="topnav">
    <a class = active href="/">About me</a>
    <a href="/resume">Resume</a>
    <a href="/illustration">Illustration</a>
    <a href="/cat">Cat</a>
    <a href="/game">Game</a>                
    <a href="/contact">Contact</a>
</div>
<!--This is the end of top navigation bar-->


<div class="content">
    <p>Hello, I'm Yige, a cat mom and a roses gardener.</p>
    <p>My education and research background was in structural engineering
        and material science.  
        I'm taking computer science courses and practicing coding skills by myself. 
        I'm proficient in programming with Python and statisitcal analysis with R.
        Now I'm actively looking for a working opportunity as a Software Development Engineer. </p>
</div>
{% endblock %}