{% extends "base.html" %}
{% block div %}

<!--This is the start of top navigation bar-->
<div class="topnav">
    <a class = active href="/">About me</a>
    <a href="/resume">Resume</a>
    <a href="/illustration">Illustration</a>
    <a href="/cat">Cat</a>
    <a href="/game">Game</a>                
    <a href="/contact">Contact</a>
</div>
<!--This is the end of top navigation bar-->


<div class="content">
    <p>Hello, welcome to my personal website!</p>
    <p>I'm working as a Software Development Engineer. 
        I have 6+ years of research experience, where I accumulated my numerical simulation and data analysis experience, as well as critical thinking, technical writing, and problem solving skills. 
        I'm proficient in programming with Python/ Java/ C++ and statistical analysis with R. I'm also taking computer science courses and practicing coding skills by myself. </p>
    <p>In my daily life, I'm a cat mum, a rose gardener, a painter, a cooker, and a fast learner. I love to explore more possibilities in the colorful life.</p>
    
</div>
{% endblock %}