{% extends "base.html" %}
{% block div %}

<!--This is the start of top navigation bar-->
<div class="topnav">
    <a class = active href="/">About me</a>
    <a href="/resume">Resume</a>
    <a href="/illustration">Illustration</a>
    <a href="/cat">Cat</a>
    <a href="/game">Game</a>                
    <a href="/contact">Contact</a>
</div>
<!--This is the end of top navigation bar-->


<div class="content">
    <p>Hello, welcome to my personal website!</p>
    <p>I'm actively looking for a working opportunity as a Software Development Engineer. 
        My educational and research background is in structural engineering
        and material science. I have 6+ years' experience of doing research in cement and concrete, where both experimental and numerical work are involved. 
        I'm proficient in programming with Python/ C++ and statisitcal analysis with R. I'm also taking computer science courses and practicing coding skills by myself. </p>
    <p>In my daily life, I'm a cat mum, a roses gardener, a painter, a cooker, and a good learner. I love to explore more possiblilites in the colorful life.</p>
    
</div>
{% endblock %}