{% extends "base.html" %}

{% block div %}

<!--This is the start of top navigation bar-->
<div class="topnav">
  <a href="/">About me</a>
  <a class = active href="/illustration">Illustration</a>
  <a href="/game">Game</a>                
  <a href="/contact">Contact</a>
</div>
<!--This is the end of top navigation bar-->

<!--This is the intro of the cat page-->
<p style="text-align:center">Check out my cute cat. Her name is Yami!</p>

<!--This is the end of the intro of the cat page-->


<div class="row">
  <div class="column">
    <img src="wedding.jpg">
    <img src="rocks.jpg">
    <img src="falls2.jpg">
    <img src="paris.jpg">
    <img src="nature.jpg">
    <img src="mist.jpg">
    <img src="paris.jpg">
  </div>
  <div class="column">
    <img src="underwater.jpg">
    <img src="ocean.jpg">
    <img src="wedding.jpg">
    <img src="mountainskies.jpg">
    <img src="rocks.jpg">
    <img src="underwater.jpg">
  </div>
  <div class="column">
    <img src="wedding.jpg">
    <img src="rocks.jpg">
    <img src="falls2.jpg">
    <img src="paris.jpg">
    <img src="nature.jpg">
    <img src="mist.jpg">
    <img src="paris.jpg">
  </div>
  <div class="column">
    <img src="underwater.jpg">
    <img src="ocean.jpg">
    <img src="wedding.jpg">
    <img src="mountainskies.jpg">
    <img src="rocks.jpg">
    <img src="underwater.jpg">
  </div>
</div>
  
{% endblock %}