{% extends "base.html" %}
{% block div %}

<!--This is the start of top navigation bar-->
<div class="topnav">
    <a href="/">About me</a>
    <a href="/resume">Resume</a>
    <a href="/illustration">Illustration</a>
    <a href="/cat">Cat</a>
    <a class = active href="/game">Game</a>                
    <a href="/contact">Contact</a>
</div>
<!--This is the end of top navigation bar-->


<!--This is the intro of the illustration page-->
<p>A webpage game you can play in browser:</p>

<!--This is the end of the intro of the illustration page-->


<a href="https://yyggzz.github.io/" target="_blank" rel="noopener noreferrer"><p><u>shooting game</u></p></a>

{% endblock %}