{% extends "base.html" %}

{% block div %}

<!--This is the start of top navigation bar-->
<div class="topnav">
  <a href="/">About me</a>
  <a class = active href="/resume">Resume</a>
  <a href="/illustration">Illustration</a>
  <a href="/cat">Cat</a>
  <a href="/game">Game</a>                
  <a href="/contact">Contact</a>
</div>
<!--This is the end of top navigation bar-->

<link rel="stylesheet" href="{{ url_for('static', filename='resume.css') }}">

<div class="splitbar">
<nav>
  <ul>
    <li><a href="#section-1">Education</a></li>
    <li><a href="#section-2">Technical Skills</a></li>
    <li><a href="#section-3">Projects</a></li>
    <li><a href="#section-4">Work Experience</a></li>

  </ul>
</nav>

<main>
  <section id="section-1">
    <h2>Education</h2>
    
    <h3>University of Colorado Boulder</h3>
    <h4 style="float:right">2016-2020</h4>
    <h4 style="float:left">Ph.D. in Structural Engineering and Structural Mechanics</h4> 
    <br>

    <h3>Ecole des Ponts ParisTech</h3>
    <h4 style="float:right">2014-2015</h4>
    <h4 style="float:left">M.S. in Material Science for Sustainable Construction</h4> 
    <br>
    <h4 style="float:right">2013-2015</h4>
    <h4 style="float:left">Ing&eacutenieur of Civil Engineering</h4> 
    <br>

    <h3>Tongji University</h3>
    <h4 style="float:right">2012-2016</h4>
    <h4 style="float:left">M.S. in Structural Engineering</h4> 
    <br>
    <h4 style="float:right">2008-2012</h4>
    <h4 style="float:left">B.S. in Civil Engineering</h4> 
    <br>
 
  </section>
  
  <section id="section-2">
    <h2>Technical Skills</h2>
    <ul>
      <li>LANGUAGES: Python, C++, Java, HTML/ CSS/ JavaScript, R, MATLAB, SQL, LaTex</li>
      <li>FRAMEWORKS & LIBRARIES: Flask, Bootstrap, TensorFlow, pygame, NumPy</li>
      <li>TOOLS: Git, Linux, VSCode, IntelliJ</li>
      <li>OTHER: Data Structures & Algorithms, Object Oriented Programming (OOP), Machine Learning, Data Analysis and Statistics</li>
    </ul>
  </section>
  
  <section id="section-3">
    <h2>Projects</h2>

    <h3>Web development</h3>
    <h4>&#8211 Build a personal website with CSS, HTML, JavaScript, Python Flask.</h4>
    <ul>
      <li>Use <i>CSS & HTML</i> to build this personal website frontend with multiple tabs, illustration of images, texts, hyperlinks etc.</li>
      <li>The backend routing is implemented by <i>Python & Flask</i>. The Website is hosted on <i>Google Cloud Platform (GCP)</i>.</li>
      <li>Include an interactive HTML browser game using <i>Canvas</i> and <i>JavaScript</i>. The game is hosted on <i>GitHub</i>.</li>
    </ul>

    <h3>Data Structure Study</h3>
    <h4>&#8211 Compare the efficiency of different data structures using C++ & R.</h4>
    <ul>
      <li>Compare the time performances of <i>CRUD</i> operations for different data structures (Linked List, Binary Search Tree, Hash Table with open addressing) implemented by <i>C++</i>.</li>
      <li>Use <i>R</i> to conduct <i>statistical analysis</i> on different sets of data from USPS packages, and study the impact of data ordering in the dataset.</li>
    </ul>

    <h3>Material Science Research Project</h3>
    <h4>&#8211 Research project of cement paste microstructure properties using C++ & R.</h4>
    <ul>
      <li>Implement a finite element model (<i>FEM</i>) in <i>C++</i> to simulate 3D cement paste microstructures during the hydration process.</li>
      <li>Use <i>Python</i> for formating/ preprocessing/ postprocessing of files. Use <i>BASH</i> to automate calling and running series of different programs.</li>
      <li>Use <i>R</i> for<i>statistical analysis</i> and <i>data visualization</i> to study the correlation between microcracks morphologies and the stress concentrations.</li>
    </ul>

    <h3>Game Software development</h3>
    <h4>&#8211 Develop video games with Python & pygame.</h4>
    <ul>
      <li>Develop a tower defense game and a fish shooting game using <i>pygame & Python</i>. With functions of moving/ jumping, hitting/ collision, health/ lives, scores/ restart, sound effects etc.</li>
    </ul>

  </section>

  <section id="section-4">
    <h2>Work Experience</h2>

    <h3>Princeton University</h3>
    <h4>Postdoctoral Research Associate</h4>
    <ul>
      <li>Use R & Python for statistical analysis and data visualization of experimental results for characterization of alkali-activated materials.</li>
    </ul>
    
    <h3>University of Colorado Boulder</h3>
    <h4>Postdoctoral Research Associate</h4>
    <ul>
      <li>Use TensorFlow to learn the correlation between cross-section images and the mechanical properties of concrete by machine learning.</li>
    </ul>

    <h3>University of Colorado Boulder</h3>
    <h4>Research Assistant</h4>
    <ul>
      <li>Develop a finite element analysis program implemented by C++ to study the time-dependent properties of cement paste.</li>
      <li>Use a finite difference method implemented by MATLAB to study the impact of cracking network on drying of cement paste.</li>
    </ul>
    <h4>Teaching Assistant</h4>
    <ul>
      <li>TA for Probability, Statistics and Decision for Civil Engineers, Structural Analysis, Mechanics of Materials, Analytical Mechanics.</li>
    </ul>
    
    <h3>Lafarge Centre de Recherche</h3>
    <h4>Research Engineer</h4>
    <ul>
      <li>Use math model and curve fitting to study the hydration kinetics of oil & gas well cements under elevated temperatures and pressures.</li>
    </ul>

  </section>
  


</main>

<footer>
  Download my PDF resume (not yet attached)
</footer>
</div>
<script src="/static/resume.js"></script>
{% endblock %}